<template>
  <div class="canvas">
    <VueHandles
      :key="$index"
      v-bind="element"
      v-for="(element, $index) in elements"
      @dragstop="(x, y) => onDragStop(element, x, y)"
      @resizestop="(x, y, w, h) => onResizeStop(element, x, y, w, h)"
    >
      <span>{{ element.id }}</span>
    </VueHandles>
  </div>
</template>

<script lang="ts">
import { Component, Vue, Mixins } from "vue-property-decorator";
import { Mutation, Getter } from "vuex-class";
import { MutationMethod } from "vuex";
import { Element } from "../store/types";
import VueHandles from "vue-draggable-resizable";
import "vue-draggable-resizable/dist/VueDraggableResizable.css";

@Component({
  components: { VueHandles }
})
export default class Canvas extends Vue {
  @Getter elements: Element[];
  @Mutation removeElement: MutationMethod;
  @Mutation positionElement: MutationMethod;

  onResizeStop(element: any, x: number, y: number, w: number, h: number) {
    if (
      element.x === x &&
      element.y === y &&
      element.w === w &&
      element.h === h
    ) {
      return;
    }

    this.positionElement({ id: element.id, x, y, w, h, z: element.z });
  }

  onDragStop(element: any, x: number, y: number) {
    if (element.x === x && element.y === y) {
      return;
    }

    this.positionElement({
      id: element.id,
      x,
      y,
      w: element.w,
      h: element.h,
      z: element.z
    });
  }
}
</script>
