<template>
  <button @click="createElement">Add Element</button>
</template>

<script lang="ts">
import { Component, Vue, Prop } from "vue-property-decorator";
import { Mutation } from "vuex-class";
import { MutationMethod } from "vuex";
import { Element } from "../store/types";

@Component({})
export default class CreateElementButton extends Vue {
  @Mutation addElement: MutationMethod;
  @Prop(Number) readonly height: number;
  @Prop(Number) readonly width: number;
  zIndex = 0;

  createElement() {
    this.addElement(this.generateElement());
  }

  generateElement(): Element {
    let x = this.getRandomInt(0, this.width / 2);
    let y = this.getRandomInt(0, this.height / 2);
    let w = this.getRandomInt(0, this.width / 2);
    let h = this.getRandomInt(0, this.height / 2);
    let z = ++this.zIndex;
    let id = this.makeId(6);

    let color = this.getRandomColor();
    let backgroundColor = this.getRandomColor();
    return { x, y, w, h, z, id, color, backgroundColor };
  }

  getRandomInt(min: number, max: number) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  getRandomColor() {
    let colors = [
      "AliceBlue",
      "AntiqueWhite",
      "Aqua",
      "Beige",
      "Bisque",
      "Black",
      "BlanchedAlmond",
      "Blue",
      "BlueViolet",
      "Brown",
      "BurlyWood",
      "Chocolate",
      "CornflowerBlue",
      "Cornsilk",
      "DeepSkyBlue",
      "DimGrey",
      "DodgerBlue",
      "FloralWhite",
      "GreenYellow",
      "HoneyDew",
      "HotPink",
      "Indigo",
      "Ivory",
      "Lavender",
      "Lime",
      "LimeGreen"
    ];

    return colors[Math.floor(Math.random() * colors.length)];
  }

  makeId(length: number) {
    var result = "";
    var characters =
      "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
    var charactersLength = characters.length;
    for (var i = 0; i < length; i++) {
      result += characters.charAt(Math.floor(Math.random() * charactersLength));
    }
    return result;
  }
}
</script>